---
import { Button } from '@/components/LayoutComponents/NavbarButton';

const { description, title, srcProduct, altProduct, product, lazy, priority } = Astro.props;
---

<section class="relative w-full">
  <!-- Fondo de mármol -->
  <picture>
    <!-- Imagen para pantallas hasta 640px (mobile) -->
    <source srcset="/img/marmol-small-mobile.webp" media="(max-width: 640px)" />
    <source srcset="/img/marmol-mobile.webp" media="(max-width: 735px)" />
    <source srcset="/img/marmol-tablet.webp" media="(max-width: 900px)" />

    <!-- Imagen por defecto (pantallas más grandes) -->
    <img
      src="/img/marmol.webp"
      alt="Fondo de mármol"
      class="w-full object-cover h-[54rem] xs:h-[56rem] sm:h-[56rem] md:h-[45rem] lg:h-[55rem]"
      loading={lazy ? 'lazy' : 'eager'}
      fetchpriority={priority ? 'high' : 'low'}
    />
  </picture>

  <!-- Capa de contenido -->
  <div class="absolute inset-0 flex flex-col items-center md:justify-start p-4 sm:p-6">
    <!-- Título -->
    <h3 class="text-center text-black font-bold text-xl xs:text-2xl sm:text-3xl xl:text-4xl font-[georgia] mb-8 mt-14 sm:mt-16 md:my-18 lg:mt-20 xl:mt-24">
      {title}
    </h3>

    <!-- Contenido principal -->
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-12 lg:gap-16 items-center justify-items-center max-w-6xl w-full">
      <!-- Imagen del producto -->
      <div class="flex justify-center items-center mask-b-from-80% mask-b-to-100%">
        <img
          src={srcProduct}
          alt={altProduct}
          loading={lazy ? 'lazy' : 'eager'}
          fetchpriority={priority ? 'high' : 'low'}
          class="object-contain w-full
        h-[25rem] xs:h-[30rem] sm:h-[35rem] md:h-fit"
        />
      </div>

      <!-- Texto y botón -->
      <div class="self-start text-[var(--color-secundario)] font-medium text-center md:text-left space-y-4 sm:space-y-6 lg:mt-8 xl:mt-12">
        <!-- Descripción -->
        <p class="text-black text-center xs:text-left text-sm md:text-base lg:text-lg mb-4 sm:mb-6 lg:mb-8 leading-relaxed font-[450]">
          {description}
          <a href={`/productos/${product}`} class="text-xs sm:text-sm md:text-base lg:text-lg font-medium hover:underline inline-block ml-1">Saber más →</a>
        </p>

        <!-- Botón CTA -->
        <Button url="/comprar" client:load className="hover:scale-105 transition-all duration-300 ease-in-out items-center group gap-2"> Comprar </Button>
      </div>
    </div>
  </div>
</section>
