---
const { imagen, alt, title, description, link, buttonText } = Astro.props;
---

<div class="relative w-full md:h-screen lg:h-full flex items-center justify-center overflow-hidden p-2 md:p-8">
  <!-- Background Image -->
  <img src={imagen} alt={alt} class="absolute inset-0 w-full h-full object-cover" loading="lazy"/>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/30"></div>

  <!-- Content Overlay -->
  <div class="relative z-10 w-full max-w-4xl h-55 md:h-full mx-auto p-2 sm:p-4 sm:px-15 md:px-18 lg:px-0 xl:px-10 grid grid-rows-3 md:grid-rows-[2fr_1fr_2fr] lg:grid-rows-3 justify-items-center text-center bg-black/40">
    <h3 class="mb-6 text-[1.6rem] xs:text-3xl sm:text-4xl 2xl:text-5xl font-bold text-white drop-shadow-lg self-center md:self-end lg:self-center">
      {title}
    </h3>

    <p class=" max-w-2xl text-base sm:text-lg xl:text-xl 2xl:text-2xl text-white/90 leading-relaxed drop-shadow-md self-center">
      {description}
    </p>

    <a
      href={`/${link}`}
      class="w-fit px-8 py-2 mt-6 rounded-full font-semibold bg-[var(--color-primario)] hover:bg-[var(--color-secundario)] hover:text-[var(--color-perla)] shadow-md hover:shadow-lg transition-all duration-200 transform hover:scale-105 active:scale-95 self-center md:self-start lg:self-center"
    >
      {buttonText}
    </a>
  </div>
</div>
