---
// Imports de componentes
import InfoBar from '@/components/LayoutComponents/InfoBar.astro';
import Navbar from '@/components/LayoutComponents/Navbar.tsx';
import Footer from '@/components/LayoutComponents/Footer.astro';

// Import global de estilos
import '@/styles/global.css'

// Props de la página
const { title, description, url, image, loadFonts = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />

    <!-- Open Graph -->

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={'https://kurbis.com.uy/' + image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={'https://kurbis.com.uy/' + image} />

    <!-- Fuentes -->
    {loadFonts && <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Roboto:wght@500&display=swap" rel="stylesheet" />}
  </head>
  <body class="bg-[var(--color-background)]">
    <InfoBar message="Disfruta nuestras exclusivas oportunidades" />
    <Navbar client:load />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
